:root{
    background-color: rgb(40, 39, 39);
    color: white;
    
    

}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#hero-title{
    display: flex;
    justify-content: center;
}

#input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
input{
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#btn{
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 10px;
    
}

#output-box{
    display: flex;
    justify-content: center;
    
}
